/* grid */
.row[class] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.col[class] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.row[class] > *,
.col[class] > * {
    -ms-flex: 1 1 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}
.cell[class] {
    padding: 1.25em 0.625em 0 0.625em;
}
.hide[class] {
    display: none;
}
.centered {
    text-align: center;
}
.righted {
    text-align: right;
}
.box {
    margin: 1.25em 0.625em 0 0.625em;
    padding: 0.625em;
    border-radius: var(--border-radius);
    background-color: var(--light-color);
}
@media all and (min-width: 60em) {
    .l-row[class] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .l-col[class] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .l-row[class] > *,
    .l-col[class] > * {
        -ms-flex: 1 1 100%;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }
    .l-cell[class] {
        padding: 0.625em;
    }
    .l-hide[class] {
        display: none;
    }
    .l-centered {
        text-align: center;
    }
    .l-righted {
        text-align: right;
    }
}
@media all and (min-width: 40em) and (max-width: 59.9999em) {
    .m-row[class] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .m-col[class] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .m-row[class] > *,
    .m-col[class] > * {
        -ms-flex: 1 1 100%;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }
    .m-cell[class] {
        padding: 0.625em;
    }
    .m-hide[class] {
        display: none;
    }
    .m-centered {
        text-align: center;
    }
    .m-righted {
        text-align: right;
    }
}
@media all and (max-width: 39.9999em) {
    .s-row[class] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .s-col[class] {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .s-row[class] > *,
    .s-col[class] > * {
        -ms-flex: 1 1 100%;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }
    .s-cell[class] {
        padding: 0.625em;
    }
    .s-hide[class] {
        display: none;
    }
    .s-centered {
        text-align: center;
    }
    .s-righted {
        text-align: right;
    }
}